@import url("variables.css");
@import url("timeline.css");

html,
body,
#app,
.main {
  height: 100%;
}

.main {
  align-items: center;
  background-color: var(--color-bg);
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
}
