@import url("variables.css");

html,
body,
#app,
.main {
  height: 100%;
}

.main {
  align-items: center;
  background-color: var(--color-bg);
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
}

.timeline {
  align-items: center;
  display: flex;
}

.timeline-item {
  list-style: none;
  position: relative;
}

.timeline-separator {
  display: flex;
  align-items: center;
}

.timeline-dot {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 100%;
  border: 5px solid #00b897;
  margin: 3px;

  &.is-milestone {
    height: 18px;
    width: 18px;
  }
}

.timeline-connector {
  width: 100px;
  height: 2px;
  background-color: white;
  border-radius: 10px;
}

.timeline-content {
  position: absolute;
  top: 25px;
  width: 90px;
  text-align: center;
  left: -25%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.timeline-content-top {
  position: absolute;
  bottom: 25px;
  width: 90px;
  text-align: center;
  left: -25%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.timeline-card {
  width: 136px;
}

.timeline-card-pointer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.top {
    transform: rotate(180deg);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 6.5px solid #173f4b; /* color of the triangle */
}

.line {
  margin: 10px 0;
  height: 16px;
  width: 2px;
  border-radius: 2px;
  background-color: #3c7f90;
}

.timeline-card-body {
  height: 130px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px #00000040;
  background-color: #173f4b;

  .timeline-card-img {
  }

  .timeline-card-title {
    color: #fff;
    line-height: 130%;
  }
}

.arrow {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 62px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 15px;
  height: 2px;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: calc(100% - 1px) 50%;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  transform: rotate(-45deg);
}
