@import url("reset.css");
@import url("variables.css");
@import url("timeline.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body,
#app,
.main {
  height: 100%;
}

.main {
  align-items: center;
  background-color: var(--main-bg-color);
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
}
