@import url("variables.css");

html,
body,
#app,
.main {
  height: 100%;
}

.main {
  align-items: center;
  background-color: var(--color-bg);
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
}

.timeline {
  align-items: center;
  display: flex;
}

.timeline-item {
  list-style: none;
  position: relative;
}

.timeline-separator {
  display: flex;
  height: 16px;
  align-items: center;
}

.timeline-dot {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 100%;
  border: 5px solid #00b897;
  margin: 3px;

  &.is-curr-milestone {
    height: 18px;
    width: 18px;
  }
}

.timeline-connector {
  width: 140px;
  height: 2px;
  background-color: white;
  border-radius: 10px;

  &.is-dotted {
    background-color: transparent;
    margin-top: -26px;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    .connector-dot {
      display: inline-block;
      width: 3px;
      height: 2px;
      margin: 0 2px;
      border-radius: 10px;
      background-color: white;
    }
  }
}

.timeline-content,
.timeline-opposite-content {
  position: absolute;
  width: 136px;
  text-align: center;
  left: -60px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.timeline-content {
  top: 25px;
}

.timeline-milestone {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word; /* old name */
  overflow-wrap: break-word;
  width: 90px;
  margin: 0 auto;
}

.timeline-opposite-content {
  bottom: 25px;
}

.card {
  width: 136px;
  display: flex;
  flex-direction: column;

  /* background: #3C7F90; */
  /* box-shadow: 0px 4px 12px 0px #00000040; */
  &.card-top {
    .card-pointer {
      order: 2;
      transform: rotate(180deg);
    }
  }
}

.card-pointer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.top {
    transform: rotate(180deg);
  }
}

.card-pointer-triangle {
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 6.5px solid #173f4b; /* color of the triangle */
}

.card-pointer-line {
  margin: 10px 0;
  height: 16px;
  width: 2px;
  border-radius: 2px;
  background-color: #3c7f90;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
  background-color: #173f4b;

  .card-img {
  }

  .card-title {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    color: #fff;
    font-size: 14px;
    line-height: 130%;
  }
}

.timeline-arrow {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 62px;
}

.timeline-arrow::before,
.timeline-arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 15px;
  height: 2px;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: calc(100% - 1px) 50%;
}

.timeline-arrow::before {
  transform: rotate(45deg);
}

.timeline-arrow::after {
  transform: rotate(-45deg);
}
