.timeline {
  font-weight: 100;
  align-items: center;
  display: flex;
}

.timeline-item {
  list-style: none;
  position: relative;
}

.timeline-separator {
  align-items: center;
  display: flex;
  height: 1.6rem;
}

.timeline-dot {
  background-color: transparent;
  border: 4px solid var(--timeline-dot-color);
  border-radius: 100%;
  margin: 0.3rem;

  &.is-curr-milestone {
    border-width: 5px;
    height: 1.8rem;
    width: 1.8rem;
  }
}

.timeline-connector {
  background-color: var(--timeline-connector-bg-color);
  border-radius: 10px;
  height: 0.2rem;
  width: 14rem;

  &.dotted {
    background-color: transparent;
    margin-top: -2.4rem;

    .connector-dot {
      background-color: var(--timeline-connector-bg-color);
      border-radius: 10px;
      display: inline-block;
      height: 0.2rem;
      margin: 0 0.2rem;
      width: 0.3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.timeline-content,
.timeline-opposite-content {
  color: var(--timeline-content-color);
  font-size: 1.4rem;
  left: -5.75rem;
  position: absolute;
  text-align: center;
  width: 13.6rem;
}

.timeline-content {
  top: 2.4rem;
}

.timeline-opposite-content {
  bottom: 2.5rem;

  .timeline-card {
    &.align-left {
      bottom: 0rem;
    }
    .pointer {
      order: 2;
      transform: rotate(180deg);
    }
  }
}

.timeline-milestone {
  align-items: center;
  display: flex;
  height: 3.2rem;
  line-height: 1.8rem;
  justify-content: center;
  margin: 0 auto 1.2rem;
  width: 9.4rem;
}

.timeline-card {
  display: flex;
  flex-direction: column;
  width: 13rem;

  &.highlighted {
    .pointer-triangle {
      border-bottom-color: var(--timeline-card-highlighted-bg-color);
    }

    .content {
      background-color: var(--timeline-card-highlighted-bg-color);
      box-shadow: 0 4px 12px 0px var(--timeline-card-shadow-color);
    }
  }

  &.align-left {
    align-items: flex-end;
    position: absolute;
    left: -4.3rem;
  }

  .pointer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 1.6rem;
  }

  .pointer-line {
    background-color: var(--timeline-card-pointer-line-bg-color);
    border-radius: 2px;
    height: 1.6rem;
    margin: 0rem 0.6rem 0.8rem;
    width: 0.2rem;
  }

  .pointer-triangle {
    border-bottom: 6px solid var(--timeline-card-bg-color);
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    height: 0;
    width: 0;
  }

  .content {
    background-color: var(--timeline-card-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 13.6rem;
    padding: 0.8rem;
    box-shadow: 0 4px 12px 0px var(--timeline-card-shadow-color);
  }

  .img {
  }

  .desc {
    align-items: center;
    color: var(--timeline-card-title-color);
    display: flex;
    flex: 1 1 auto;
    font-size: 1.4rem;
    justify-content: center;
    line-height: 130%;
    padding: 0.4rem 0.8rem 0;
  }
}

.timeline-arrow {
  display: inline-block;
  height: 6.2rem;
  position: relative;
  width: 0.6rem;

  &::before,
  &::after {
    background-color: var(--timeline-arrow-color);
    border-radius: 9999px;
    content: "";
    height: 0.2rem;
    position: absolute;
    right: -0.3rem;
    top: calc(50% - 0.1rem);
    transform-origin: calc(100% - 0.1rem) 50%;
    width: 1.3rem;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
